<!DOCTYPE html>
<html>
<head>
</head>
<body class="aboutBox" style="position:relative; width:500px; height:390px; font-family:mono">
    <svg id="graphics" width="500px" height="390px" viewBox="0 0 500 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="position:absolute; left:0px; top:0px; fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <g id="dark">
            <path d="M170,161L480,161" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M170,111L480,111" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,171L480,171" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,171L480,171" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,214L480,214" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,258L480,258" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,199L480,199" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M283,242L480,242" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M170,293L480,293" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M20,135L170,135" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M170,161L170,135" style="fill:none;stroke:#2c4144;stroke-width:0.73px;"/>
            <path d="M20,293L170,293" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M20,286L170,286" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M20,343L480,343" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M20,367L479,367" style="fill:none;stroke:#2c4144;stroke-width:1px;"/>
            <path d="M20,371L170,371" style="fill:none;stroke:#2c4144;stroke-opacity:0.7;stroke-width:1px;"/>
        </g>
        <g id="bright" opacity="0.75">
            <path d="M20,127L170,127" style="fill:none;stroke:#699daa;stroke-opacity:0.7;stroke-width:1px;"/>
            <path d="M20,135L20,171" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M20,297L20,339" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M480,297L480,339" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M170,274L170,286" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M480,133L480,161" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M480,83L480,111" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M20,83L20,111" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,274L283,286" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M480,274L480,286" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M20,111L170,111" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,286L480,286" style="fill:none;stroke:#699daa;stroke-opacity:0.7;stroke-width:1px;"/>
            <path d="M283,171L170,171" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,199L170,199" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,214L170,214" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,242L170,242" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M480,21L20,21" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,286L170,286" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M283,258L170,258" style="fill:none;stroke:#699daa;stroke-width:1px;"/>
            <path d="M170,371L479,371" style="fill:none;stroke:#699daa;stroke-opacity:0.7;stroke-width:1px;"/>
        </g>
        <g id="dots">
            <rect x="19" y="20" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="20" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="110" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="120.667" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="115.333" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="134" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="170" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="285" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="292" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="296" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="338" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="342" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="366" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="370" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="374" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="370" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="374" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="126" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="126" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="134" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="160" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="170" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="170" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="198" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="198" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="213" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="213" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="241" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="241" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="257" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="257" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="285" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="273" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="285" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="282" y="273" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="110" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="120.667" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="169" y="115.333" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="110" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="82" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="19" y="82" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="132" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="160" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="170" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="198" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="213" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="241" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="257" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="273" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="285" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="292" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="296" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="338" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="342" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="366" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="479" y="370" width="2" height="2" style="fill:#bafffd;"/>
            <rect x="443" y="374" width="2" height="2" style="fill:#bafffd;"/>
        </g>
        <rect x="0" y="0" width="500" height="394" style="fill:none;"/>
        <path d="M280,180C280,177.24 278.32,175 276.25,175L178.75,175C176.68,175 175,177.24 175,180L175,190C175,192.76 176.68,195 178.75,195L276.25,195C278.32,195 280,192.76 280,190L280,180Z" style="fill:#2c4144;"/>
        <path d="M280,223C280,220.24 278.32,218 276.25,218L178.75,218C176.68,218 175,220.24 175,223L175,233C175,235.76 176.68,238 178.75,238L276.25,238C278.32,238 280,235.76 280,233L280,223Z" style="fill:#2c4144;"/>
    </svg>
    <label id="daw" data-content="daw" data-parameter="DAW" style="position:absolute; left:20px; top:371px; width:150px; height:8px; text-align:center; font-family:mono; font-size:8px; color:var(--mediterranea); text-transform:uppercase"></label>
    <label id="type" data-content="type" data-parameter="TYPE" style="position:absolute; right:20px; top:371px; width:max-content; height:8px; text-align:center; font-family:mono; font-size:8px; color:var(--mediterranea); text-transform:uppercase"></label>
    <label id="trademark" data-content="trademark" data-parameter="TRADEMARK" style="position:absolute; left:25px; top:298px; width:450px; height:40px; text-align:center; font-family:mono; font-size:10px; color:var(--paradiso); text-transform:uppercase"></label>
    <label id="copyright" data-content="copyright" data-parameter="COPYRIGHT" style="position:absolute; left:25px; top:114px; width:140px; height:10px; text-align:center; font-family:mono; font-size:8px; color:var(--mediterranea); text-transform:uppercase"></label>
    <label id="pluginWrapper" data-content="pluginWrapper" data-parameter="PLUGINWRAPPER" style="position:absolute; left:25px; top:345px; width:450px; height:20px; text-align:center; font-family:mono; font-size:10px; color:var(--mediterranea); text-transform:uppercase"></label>
    <label id="developedBy" data-parameter="DEVELOPEDBY" style="position:absolute; left:174px; top:262px; width:105px; height:20px; text-align:center; font-family:mono; font-size:10px; color:var(--mediterranea); text-transform:uppercase">DEVELOPED BY</label>
    <div class="animationStrip" id="jreng" data-parameter="JRENG" style="position:absolute; left:20px; top:21px; width:460px; height:90px"></div>
    <div class="scrambledText" id="developer" data-parameter="DEVELOPER" style="position:absolute; left:286.5px; top:262px; width:190px; height:20px; font-family:mono; font-size:10px"></div>
    <label id="versionString" data-content="versionString" data-parameter="VERSIONSTRING" style="position:absolute; left:287px; top:175px; width:190px; height:20px; text-align:center; font-family:mono; font-size:10px; color:var(--caribbeanBlue); text-transform:uppercase"></label>
    <label id="version" data-parameter="VERSION" style="position:absolute; left:175.5px; top:175px; width:104px; height:20px; text-align:center; font-family:mono; font-size:10px; color:var(--mediterranea); text-transform:uppercase">VERSION</label>
    <label id="product" data-content="product" data-parameter="PRODUCT" style="position:absolute; left:175px; top:116px; width:300px; height:40px; text-align:center; font-family:mono; font-size:24px; color:var(--caribbeanBlue); text-transform:uppercase"></label>
</body>
</html>
