<!DOCTYPE html>
<html style="font-size:1em">
<head></head>
<body class="panel" style="display:flex;flex-direction:column;flex-grow:1;font-family:mono;justify-content:flex-end">
  <div id="panelBottom" style="display:flex;flex-direction:row;flex-basis:1em;flex-grow:0;flex-shrink:0;justify-content:flex-start">
    <label id="mode" data-parameter="MODE" data-content="value" style="flex-basis:6em;flex-grow:0;flex-shrink:0;text-transform:uppercase"></label>
    <label id="line" data-parameter="MODE" data-content="cursorLine" style="flex-basis:4em;flex-grow:0;flex-shrink:0;text-align:right"></label>
    <label id="column" data-parameter="MODE" data-content="cursorColumn" style="flex-basis:4em;flex-grow:0;flex-shrink:0;text-align:right"></label>
  </div>
</body>
</html>
